<div class="card mb-3" style="width: 18rem;" id="<%= dom_id note %>">
    <div class="card-header">
      <%= link_to note.title, note_card_note_path(note), data: {
        turbo_frame: 'card_note'
      }, class: 'text-decoration-none' %>
    </div>
  <div class="card-body">
    <p class="card-text text-truncate"><%= note.body %></p>
    <p class="card-text"><%= note.note_date %></p>
    <div class="text-end">
    </div>
  </div>
</div>
