<%= turbo_frame_tag 'error_message' do %>
  <div data-controller="error-message" class="error__message py-2">
      <div class="mx-2">
          <%= message %>
      </div>
    <%= link_to '','', data: {
      controller: 'error-message',
      action: 'error-message#close_error_message'
    },
    class: 'btn-close mx-2'%>
  </div>
<% end %>
