.note__container {
  display: flex;
  gap: 20px;
}

.card__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body__text {
  text-align: justify;
}

.full__note__container {
  max-width: 40vw;
}

.search__bar {
  margin: 20px 0;
}

.notes {
  height: 70vh;
  overflow: scroll;
}
